<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DjC</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
</head>
<body>
    <div class="ui container centered">
        <h1 style="margin-top: 50px">Gitlab CI para tus proyectos con pytest y flake8</h1>
        <p align="center">
            <img style="width: 100%" src="https://s3.amazonaws.com/carlosmart.co/gitlab-python.jpg">
        </p>
        <h2>Probando</h2>
    </div>
    
</body>
</html>